:root {
  

  --cardTopOffset: -9px;
  --cardLeftOffset: -9px;
  --cardRow: 0;
  --cardCol: 0;
}

.ImgItem {
  background-color: var(--color1);
}

.PlayingCard {
  width: 190px;
  height: 300px;
  border-radius: 15px;
  background-image: url(../../../img/playingcards.png);
  background-size: calc(2639px * 1.08) calc(1570px * 0.80);
  background-repeat: no-repeat;
  background-position: top calc(var(--cardTopOffset) - var(--cardRow)*313.5px) left calc(var(--cardLeftOffset) - var(--cardCol)* 203.20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

}

.ShuffleButton {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-top: 20px;
  width: 200px;
  background-color: var(--color4);
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);


}

.ShuffleButton button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  

}

.PlayingCard:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}