:root {	/* 0,0 - 2 of clubs, 7,5 - Ace of Hearts */

    /* offsets
        let numeral = ["Two", "Three", "Four", "Five", 
                       "Six", "Seven", "Eight", "Nine", "Ten",
                       "Knight", "Queen", "King", "Ace"];

        let suits =      ["Clubs",  "Spades", "Diamonds", "Hearts"];
        let top_offset = ["-135px", "-150px", "-170px",   "-200px"];



      --cardTopOffset:299px;
      --cardRow:0;			   
      --cardCol:0;
  }

.ImgItem {
  background-color: var(--color1);
}
.PlayingCard {
  width: 138px;
  height: 214px;
  border-radius: 15px;
  background-image: url(../../../img/cards.png);
  background-repeat: no-repeat;

  background-position:
    calc(-40px - (var(--cardCol) * 189px))
    calc(-40px - (var(--cardRow) * 265px));

    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

.ShuffleButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ShuffleButton button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--color2);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

  